
    <main role="main-inner-wrapper" class="container">
        <div class="row">
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 ">
    <article role="pge-title-content" class="contact-header">
        <header>
            <h2 class="name"> {{ contacteme }}</h2>
            <h2>{{ introContacto }}</h2>
        </header>
        <p><a href="https://wa.link/jh7mwy"><i class="bi bi-whatsapp" aria-hidden="true"></i> {{ telefono }} </a><br><a href="mailto:mariaflorenciaGala8@gmail.com"><i class="bi bi-envelope" aria-hidden="true"></i> {{ mail }}</a></p>
    </article>
    </div>

    <!-- map -->
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
        <div class="demo-wrapper">
            <div id="surabaya">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d839.417879013004!2d-62.116221080222665!3d-32.69477947874815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95c97f2401594f55%3A0x4f7d9218bf169904!2sSan%20Mart%C3%ADn%201786%2C%20X2580GBU%20Marcos%20Ju%C3%A1rez%2C%20C%C3%B3rdoba!5e0!3m2!1ses!2sar!4v1684363378686!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
        <div class="clearfix"></div>
    <!----------
    <div class="contat-from-wrapper">
    <div id="message"></div>
        <form method="post" action="php/contactfrom.php" name="cform" id="cform">
            <h2>Formulario de contacto</h2>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <input  name="name" id="name" type="text" placeholder="Ingrese su nombre">
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <input  name="email" id="email" type="email"  placeholder="Su correo electrónico">
                </div>
            </div>
            <div class="clearfix"></div>
            <textarea name="comments" id="comments" cols="" rows="" placeholder="Mensaje" ></textarea>
            <div class="clearfix"></div>
            <input name="" type="submit" value="Enviar">
            <div id="simple-msg"></div>
        </form>
    </div>-->
    <footer role="footer">
